# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.pyo
*.egg-info/
*.egg
*.cache/

# Virtual environment
venv/
*.venv/
env/
*.env/

# Flask specific
instance/
.webassets-cache

# MongoDB
mongod.log
*.lock

# Environment variables
.env

# IDEs and editors
.vscode/
.idea/
*.swp
*.swo
*.swn
*.log

# OS specific
.DS_Store
Thumbs.db
